@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

h1 {
  font-size: 9rem;
  line-height: 0.9;
}

h2 {
  font-size: 7.5rem;
  line-height: 1;
}

h3 {
  font-size: 25px !important;
}

p {
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 1.6;
}

.intro-container p {
  font-size: 1.15rem;
}

a,
.link-btn {
  color: white;
  background: transparent;
}

#services h3 {
  font-size: 2.5rem !important;
}

.skill-title h3 {
  font-size: 4rem !important;
}
