@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

h1 {
  font-size: 9rem;
  line-height: 0.9;
}

h2 {
  font-size: 7.5rem;
  line-height: 1;
}

h3 {
  font-size: 25px !important;
}

.title {
  font-size: 16.65rem;
}

p {
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 1.6;
}

.intro-container p {
  font-size: 1.15rem;
}

a,
.link-btn {
  color: white;
  background: transparent;
}

#services h3 {
  font-size: 2.5rem !important;
}

.skill-title h3 {
  font-size: 4rem !important;
}

#footer .section-title a {
  font-size: 22.75rem;
}

.project2 span {
  font-size: 1.25rem;
}

@media screen and (max-width: 1450px) {
  h1 {
    font-size: 5rem;
    line-height: 1.05;
  }

  .title {
    font-size: 12rem !important;
  }

  #footer .section-title a {
    font-size: 16.9rem;
  }

  h2 {
    font-size: 6.5rem;
    line-height: 1.05;
  }

  #projects h2 {
    font-size: 5.5rem;
  }

  .email {
    font-size: 12rem;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 3.5rem !important;
  }
}

@media screen and (max-width: 768px) {
  .title {
    line-height: 50px;
    font-size: 3rem !important;
  }

  h2 {
    font-size: 3rem !important;
    line-height: unset;
    line-height: 1.1;
  }

  h3 {
    font-size: 1.5rem !important;
    line-height: unset;
    margin-bottom: 20px !important;
  }

  p {
    font-size: 1.3rem;
  }

  .social-links span {
    font-size: 1rem !important;
  }

  #footer .section-title a {
    text-align: left;
    font-size: 7rem;
  }

  #about p {
    font-size: 1.1rem;
  }

  .intro-container p {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 6.3rem !important;
  }

  #footer .section-title a {
    font-size: 9.1rem;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 3.2rem !important;
  }

  #footer .section-title a {
    font-size: 4.3rem;
  }

  .close-button {
    font-size: 3rem !important;
  }
}
