*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/** INIZIO STILI GLOBALI **/
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Remove scrollbar space */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Optional: show position indicator */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* Body styles */
body {
  font-size: 14px;
  color: #fff;
  background: black;
  width: 100%;
  min-height: 100vh; /* Ensure body covers the full viewport height */
}

::selection {
  background-color: #faf9f6;
  color: #000;
}

/* For older browsers */
::-moz-selection {
  background-color: #faf9f6;
  color: #000;
}

.blocco {
  margin: 0 1.5%;
  margin-bottom: 200px !important;
}

a {
  text-decoration: none;
}

.link-btn {
  font-size: 1.25rem;
  font-weight: 100;
  text-decoration: unset !important;
  position: relative;
  text-decoration: none;
  transition: color 0.65s ease-in-out;
  cursor: pointer;
}

.link-btn:hover {
  color: rgba(255, 255, 255, 0.45);
}
/** FINE STILI GLOBALI **/

/** INZIO STILE HEADER **/

#header {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: background-color 0.5s ease, opacity 0.3s ease-in-out;
}

#menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  right: -500px; /* Hidden off-screen */
  height: 100vh;
  width: 500px;
  background: rgba(0, 0, 0, 0.5); /* Darker semi-transparent black */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Support for older browsers */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.85); /* Stronger shadow for more depth */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  z-index: 1;
  transition: right 0.3s ease-in-out;
  padding-right: 85px;
  font-size: 1.3rem;
}

.overlay.open {
  right: 0; /* Slide-in */
}

.menu-toggle,
.close-toggle {
  cursor: pointer;
}

.close-toggle {
  position: absolute;
  top: 37px;
  right: 87px;
}

#header .link-btn {
  font-size: 4rem;
}

.header-container {
  font-size: 1.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 0 !important;
}

.header-anchors {
  display: flex;
  gap: 40px;
}

/** FINE STILE HEADER **/

/** INIZIO STILE FOOTER **/
#footer {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  gap: 30px;
  /* height: 100vh; */
}

#footer .section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer .section-title a {
  font-size: 17rem;
}

.socials {
  display: flex;
  flex-direction: column;
}

.email {
  color: rgba(255, 255, 255, 0.45);
  font-size: 18rem;
  width: fit-content;
  cursor: pointer;
}

.email:hover {
  color: white;
}

#footer a {
  cursor: pointer;
}

.footer-container span {
  margin-bottom: 20px !important;
}

.social-links {
  margin-bottom: 0 !important;
}
/** FINE STILE FOOTER **/

/** INIZIO STILE INTRO **/
#intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.intro-container p {
  width: 26.9%;
}

#intro a {
  font-size: 1.15rem;
  position: absolute;
  bottom: 50px;
}

#intro svg {
  width: 17px;
  margin-left: 10px;
}

.homepage-title {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 16rem;
  padding-top: 150px;
}
/** FINE STILE INTRO **/

/** INIZIO STILE ABOUT **/
#about {
  display: flex;
  height: 100vh;
}

#about h3 {
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.about-title-container {
  position: relative;
}

.title-container {
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;
}

.title-name {
  text-decoration: underline solid 4.5px white;
  cursor: pointer;
}

/* Image is hidden by default */
#about-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4); /* Center and scale up the image */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for fading in and scaling */
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text-container h3 {
  font-size: 4rem !important;
}

/* When hovering on title-name, hide the title-container and show the image */
.about-title-container:hover .title-container {
  opacity: 0;
}

.about-title-container:hover #about-image {
  opacity: 1;
  pointer-events: auto;
}
/** FINE STILE ABOUT **/

/** STILE PROJECTS **/
#projects {
  display: flex;
  flex-direction: column;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.project-list-left,
.project-list-right {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.project-list-right {
  margin-top: 400px;
}

#projects .title-work {
  margin-bottom: 100px;
}

.project-text {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  gap: 4px;
}

.project-text span {
  color: rgba(255, 255, 255, 0.65);
  font-size: 1.15rem;
  margin-bottom: 7px;
}
/** FINE STILE PROJECTS **/

#services {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.services-list {
  display: flex;
  flex-direction: column;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 50px 0;
}

.service-title {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.service-title span {
  font-size: 10rem;
}

.service-title h3 {
  padding-bottom: 28px;
}

.service p {
  flex: 0 0 60%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
}
.grid-item {
  height: 600px;
  border: 1px solid white;
  color: #fff;
  padding: 20px;
  text-align: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  transition: opacity 0.4s ease-in;
}

.grid-item:hover {
  opacity: 1;
}

.grid-item.first {
  background-image: url("./assets/foto/Vanta-GIF.gif");
}

.grid-item.second {
  background-image: url("./assets/foto/VB-Gallery.jpg");
}

.grid-item.third {
  background-image: url("./assets/foto/Rolex-Sky-Dweller.gif");
}
