*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/** INIZIO STILI GLOBALI **/
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Remove scrollbar space */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Optional: show position indicator */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* Body styles */
body {
  font-size: 14px;
  color: #fff;
  background: black;
  width: 100%;
  min-height: 100vh; /* Ensure body covers the full viewport height */
}

::selection {
  background-color: #faf9f6;
  color: #000;
}

/* For older browsers */
::-moz-selection {
  background-color: #faf9f6;
  color: #000;
}

.blocco {
  margin: 0 8%;
  margin-bottom: 200px !important;
}

a {
  text-decoration: none;
}

.link-btn {
  font-size: 1.25rem;
  font-weight: 100;
  text-decoration: unset !important;
  position: relative;
  text-decoration: none;
  transition: color 0.65s ease-in-out;
  cursor: pointer;
}

.link-btn:hover {
  color: rgba(255, 255, 255, 0.45);
}

p {
  font-weight: 100;
  font-size: 1.55rem;
  line-height: 1.6;
}
/** FINE STILI GLOBALI **/

/** INZIO STILE HEADER **/
#header {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: opacity 0.3s ease-in-out;
}

.header-container {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 0 !important;
}

.header-anchors {
  display: flex;
  gap: 40px;
}
/** FINE STILE HEADER **/

/** INIZIO STILE FOOTER **/
#footer {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  height: 100vh;
}

#footer .section-title {
  position: relative;
}

.email {
  color: rgba(255, 255, 255, 0.45);
  font-size: 17rem;
  width: fit-content;
  cursor: pointer;
}

.email:hover {
  color: white;
}

#footer a {
  cursor: pointer;
}

.footer-container span {
  margin-bottom: 20px !important;
}

.social-links {
  display: flex;
  gap: 350px;
  width: fit-content;
}
/** FINE STILE FOOTER **/

/** INIZIO STILE INTRO **/
#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#intro span {
  position: absolute;
  bottom: 50px;
}

#intro svg {
  width: 17px;
  margin-left: 10px;
}
/** FINE STILE INTRO **/

/** INIZIO STILE ABOUT **/
#about {
  display: flex;
  height: 100vh;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.about-title-container {
  position: relative;
}

.title-container {
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;
}

.title-name {
  text-decoration: underline solid 4.5px white;
  cursor: pointer;
}

/* Image is hidden by default */
#about-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4); /* Center and scale up the image */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for fading in and scaling */
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* When hovering on title-name, hide the title-container and show the image */
.about-title-container:hover .title-container {
  opacity: 0;
}

.about-title-container:hover #about-image {
  opacity: 1;
  pointer-events: auto;
}
/** FINE STILE ABOUT **/

/** STILE PROJECTS **/
#projects {
  display: flex;
  flex-direction: column;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.project-list-left,
.project-list-right {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.project-list-right {
  margin-top: 400px;
}

#projects .title-work {
  margin-bottom: 100px;
}

.project-text {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  gap: 4px;
}

.project-text span {
  color: rgba(255, 255, 255, 0.65);
  font-size: 1.15rem;
  margin-bottom: 7px;
}

.project-img {
  width: 700px;
  height: 750px;
  background-position: center;
  background-size: cover;
  transition: opacity 0.8s ease-in-out;
}

.project {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  transition: opacity 0.8s ease-in-out;
}

.project:hover {
  opacity: 1;
}

.project-1 {
  background-image: url("./assets/foto/Vanta-GIF.gif");
}

.project-2 {
  background-image: url("./assets/foto/VB-Gallery.jpg");
}

.project-3 {
  background-image: url("./assets/foto/Kronos-Ecommerce.jpg");
}
/** FINE STILE PROJECTS **/
