@media screen and (max-width: 1750px) {
  .project-container {
    column-gap: 0;
  }
}

@media screen and (max-width: 1450px) {
  .block-margins,
  #footer {
    margin: 0 2%;
  }

  .project-list {
    row-gap: 200px;
  }

  .project-img {
    width: 500px;
    height: 650px;
  }

  .social-links {
    gap: 190px;
  }

  .intro-container p {
    width: 35%;
  }

  #about p {
    width: 35%;
  }
}

@media screen and (max-width: 1024px) {
  .block-margins,
  #footer {
    margin: 0 5%;
  }

  #footer {
    margin: 0 30px;
  }

  #projects h2 {
    margin-left: 0;
  }

  .project-container {
    flex-direction: column;
  }

  .project-img {
    width: 100%;
    height: 500px;
  }

  .project-list-right {
    margin-top: 100px;
  }

  .project-list-left,
  .project-list-right {
    row-gap: 100px;
  }

  .header-links img {
    max-width: 43px;
  }

  .header-container {
    width: 100%;
    row-gap: 50px;
    padding: 20px 30px;
  }

  .header-container img {
    margin-top: 10px;
  }

  .project-list-carousel {
    width: 100% !important;
  }

  .project-list {
    flex-direction: column;
  }

  .project-list-carousel {
    overflow: hidden !important;
  }

  #projects {
    text-align: left;
  }
}

@media (max-width: 991px) {
  .intro-container p {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body,
  html *,
  body * {
    cursor: none;
  }

  button,
  a {
    cursor: auto;
  }

  .block-margins {
    margin-bottom: 150px !important;
    margin: 0 20px;
  }

  #footer {
    text-align: center;
    margin: 0;
    margin-top: 20px;
    padding: 20px;
    gap: 20px;
    font-size: 1.1rem;
  }

  .social-links {
    flex-direction: column;
    gap: 40px;
    align-items: baseline;
    margin: 0;
  }

  .socials {
    flex-direction: column;
    align-items: baseline;
  }

  #footer span {
    text-align: left;
    margin: 0 !important;
  }

  .intro-container p {
    width: 90%;
  }

  #footer,
  #footer .block-margins {
    margin-bottom: 0 !important;
  }

  #about {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  #about p {
    padding: 0px 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0;
    gap: 10px;
  }

  #about::before {
    background-color: rgba(0, 0, 0, 0.55);
  }

  #about a {
    padding-left: 20px;
    width: 100%;
  }

  #menu {
    display: none !important;
  }

  #mobile-menu {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #mobile-logo {
    width: 30px;
    height: 30px;
  }

  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #header .block-margins {
    margin-bottom: 0 !important;
  }

  .header-container {
    padding: 15px 0;
  }

  .header-container img {
    margin-top: 0;
  }

  .intro-container {
    gap: 25px;
  }

  #services {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .skill,
  .skill-title {
    width: 100% !important;
    height: 400px;
    padding: 20px;
    border-left: 0;
    border-right: 0;
    cursor: auto;
  }

  .skill::before {
    opacity: 0.4 !important;
  }

  .skill:hover::before {
    opacity: 0.4 !important;
  }

  #all-projects-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .graphic {
    height: 700px;
  }

  .graphic:nth-child(3n + 1) {
    border-left: none;
  }

  .graphic:nth-child(3n) {
    border-right: none;
  }

  .graphic {
    border-left: none;
    border-right: none;
  }

  .skill-title {
    height: fit-content;
  }

  #time-desktop,
  .desktop-menu {
    display: none !important;
  }

  .grid-sizer,
  .grid-item {
    width: 100%;
  }

  .overlay-content {
    flex-direction: column;
    padding: 0;
  }

  .overlay-list {
    margin-top: 20px;
    gap: 0;
  }

  #projects2 .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .prj {
    flex: 1;
  }

  .prj:nth-child(odd) {
    border-right: 0;
  }

  #projects2 h2 {
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .prj-text {
    padding: 20px;
    gap: 15px;
  }
}

@media screen and (max-width: 480px) {
}
