@media screen and (max-width: 1750px) {
  .project-container {
    column-gap: 0;
  }
}

@media screen and (max-width: 1450px) {
  .blocco,
  #footer {
    margin: 0 5%;
  }

  .project-list {
    row-gap: 200px;
  }

  h1 {
    font-size: 5rem;
    line-height: 1.05;
  }

  h2 {
    font-size: 6.5rem;
    line-height: 1.05;
  }

  #projects h2 {
    font-size: 5.5rem;
  }

  .project-img {
    width: 500px;
    height: 650px;
  }

  .social-links {
    gap: 190px;
  }

  .email {
    font-size: 12rem;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 3.5rem !important;
  }

  #footer {
    margin: 0 30px;
  }

  #projects h2 {
    margin-left: 0;
  }

  .project-container {
    flex-direction: column;
  }

  .project-img {
    width: 100%;
    height: 500px;
  }

  .project-list-right {
    margin-top: 100px;
  }

  .project-list-left,
  .project-list-right {
    row-gap: 100px;
  }

  .header-links img {
    max-width: 43px;
  }

  .header-container {
    width: 100%;
    row-gap: 50px;
    padding: 20px 30px;
  }

  .header-container img {
    margin-top: 10px;
  }

  .project-list-carousel {
    width: 100% !important;
  }

  .project-list {
    flex-direction: column;
  }

  .project-list-carousel {
    overflow: hidden !important;
  }

  #projects {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  body,
  html *,
  body * {
    cursor: none;
  }

  button,
  a {
    cursor: auto;
  }

  h1 {
    line-height: 50px;
    font-size: 3rem !important;
  }

  h2 {
    font-size: 3rem !important;
    line-height: unset;
    margin-bottom: 20px !important;
    line-height: 1.1;
  }

  h3 {
    font-size: 1.5rem !important;
    line-height: unset;
    margin-bottom: 20px !important;
  }

  p {
    font-size: 1.3rem;
  }

  .blocco {
    margin-bottom: 150px !important;
    margin: 0 20px;
  }

  #footer {
    text-align: center;
    margin: 0;
    margin-top: 100px;
    padding: 20px;
    gap: 30px;
    font-size: 1.1rem;
  }

  .social-links {
    flex-direction: column;
    gap: 40px;
    align-items: baseline;
    margin: 0;
  }

  .socials {
    flex-direction: column;
    align-items: baseline;
  }

  #footer span {
    text-align: left;
    margin: 0 !important;
  }

  .social-links span {
    font-size: 1rem !important;
  }

  .intro-container p {
    width: 90%;
  }

  #footer,
  #footer .blocco {
    margin-bottom: 0 !important;
  }

  #footer .section-title a {
    text-align: left;
    font-size: 7rem;
  }

  #about {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); /* Darker semi-transparent black */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Support for older browsers */
  }

  #about p {
    padding: 150px 20px;
    padding-bottom: 20px;
    font-size: 1.1rem;
    width: 100%;
    margin: 0;
    gap: 10px;
  }

  #about::before {
    background-color: rgba(0, 0, 0, 0.55);
  }

  #about a {
    padding-left: 20px;
    width: 100%;
  }

  #time,
  #menu {
    display: none !important;
  }

  #mobile-menu {
    display: block;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #header .blocco {
    margin-bottom: 0 !important;
  }

  .header-container {
    padding: 15px 0;
  }

  #services {
    flex-direction: column;
  }

  .skill,
  .skill-title {
    width: 100% !important;
    height: 400px;
    padding: 20px;
    border-left: 0;
    border-right: 0;
    cursor: auto;
  }

  .skill::before {
    opacity: 0.4 !important;
  }

  .skill:hover::before {
    opacity: 0.4 !important;
  }
}

@media screen and (max-width: 480px) {
}
