@media screen and (max-width: 1750px) {
}

@media screen and (max-width: 1450px) {
  .block-margins {
    margin: 0 15px;
  }

  .social-links {
    gap: 190px;
  }

  #intro {
    height: 95vh;
  }

  .intro-container {
    gap: 40px;
  }

  .container-links {
    gap: 90px;
  }

  .intro-container p {
    width: 35%;
  }

  #gallery-container h2 {
    margin-top: 55px;
    border-bottom: 0;
  }

  .project-item,
  .skill {
    height: 400px;
  }

  #projects2 .container,
  #projects .container,
  .services-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .prj {
    flex: 1;
  }

  .prj:nth-child(odd),
  .skill:nth-child(odd) {
    border-right: 0;
  }

  .prj-text {
    padding: 20px;
    gap: 15px;
  }

  #projects .section-title,
  #services .section-title {
    padding: 0 15px;
    padding-top: 30px;
    margin-bottom: 10px;
  }

  .project-item:nth-child(even),
  .skill:nth-child(even) {
    border-left: 0;
    border-bottom: 0;
  }

  .project-item::before,
  .skill::before {
    background-color: rgba(0, 0, 0, 0.7);
  }

  #email {
    padding: 70px 15px !important;
  }

  /* .me-img {
    background-size: contain;
  } */
}

@media screen and (max-width: 1024px) {
  #intro {
    height: 100vh;
  }

  .intro-container {
    gap: 50px;
  }

  .block-margins,
  #footer {
    margin: 0 15px;
  }

  #footer {
    margin: 0;
  }

  #projects h2 {
    margin-left: 0;
  }

  .project-container,
  .services-container {
    flex-direction: column;
  }

  .header-links img {
    max-width: 43px;
  }

  .header-container {
    width: 100%;
    row-gap: 50px;
    padding: 20px 15px;
    margin: 0;
  }

  .header-container img {
    margin-top: 10px;
  }

  #projects {
    text-align: left;
  }

  #about {
    flex-direction: column;
  }

  .me-img-mobile {
    display: block;
    border-bottom: 1px solid white;
  }

  .me-img {
    display: none;
  }
}

@media (max-width: 991px) {
  .intro-container p {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body,
  html *,
  body * {
    cursor: none;
  }

  button,
  a {
    cursor: auto;
  }

  .block-margins {
    margin: 0 15px !important;
  }

  #footer {
    text-align: center;
    margin: 0;
    padding: 0 15px;
    margin-bottom: 20px !important;
    gap: 10px;
  }

  .social-links,
  .socials {
    flex-direction: column;
    align-items: baseline;
    margin: 0;
  }

  .social-links {
    gap: 30px;
  }

  .socials {
    gap: 10px;
  }

  #footer span {
    text-align: left;
    margin: 0 !important;
  }

  .intro-container p {
    width: 90%;
  }

  #footer,
  #footer .block-margins {
    margin-bottom: 0 !important;
  }

  #menu {
    display: none !important;
  }

  #mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #mobile-logo {
    width: 30px;
    height: 30px;
  }

  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #header .block-margins {
    margin-bottom: 0 !important;
  }

  .header-container {
    padding: 15px 0;
  }

  .header-container img {
    margin-top: 0;
  }

  .intro-container {
    gap: 30px;
  }

  .graphic {
    height: 700px;
    border-left: none;
    border-right: none;
  }

  .graphic:nth-child(3n + 1),
  .graphic:nth-child(3n) {
    border-left: none;
    border-right: none;
  }

  .skill-title {
    height: fit-content;
  }

  #time-desktop,
  .desktop-menu {
    display: none !important;
  }

  .grid-sizer,
  .grid-item {
    width: 100%;
  }

  .overlay-content {
    flex-direction: column;
    padding: 0;
  }

  .overlay-list {
    margin-top: 20px;
    gap: 0;
  }

  #intro p {
    margin-left: 10px;
  }

  .container-links {
    flex-direction: column;
    gap: 30px;
    margin-left: 0;
  }

  #gallery-container p {
    width: 100%;
  }

  #gallery-container h2 {
    margin-top: 45px;
    padding: 15px;
  }

  .project-item,
  .skill {
    height: 400px;
  }

  #email {
    padding: 50px 15px !important;
  }

  #projects .section-title,
  #services .section-title {
    padding: 0 15px;
    padding-top: 25px;
    margin-bottom: 10px;
  }

  .skilla {
    grid-template-columns: 1fr;
    height: auto;
  }

  .skilla > * {
    padding: 0.5rem 1rem;
  }

  .skilla > *:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid var(--skilla-border);
  }

  .skill-img {
    height: 150px;
  }

  .skill-1,
  .skill-2,
  .skill-3,
  .skill-4,
  .skill-5,
  .skill-6 {
    display: block;
    opacity: 0.2;
  }
}

@media screen and (max-width: 480px) {
}
